@using Projeto.Utils
@model PaginatedList<Projeto.Models.Cliente>

@{
    DateTime DataNascimento = DateTime.Now;
    var DataNascimentoString = string.Empty;
}

<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Menu/Index  -->
<table class="table table-hover table-sm">   
    <thead>     
        <tr>
            <th>Nome</th>           
            <th>CPF</th>
            <th>Data Nascimento</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        
        @foreach (var item in Model)
        {
            if(item.DataNascimento != null) {
                DataNascimento = Convert.ToDateTime(item.DataNascimento);
                DataNascimentoString = DataNascimento.ToString("dd/MM/yyyy");
            }
            else {
                DataNascimentoString = string.Empty;
            }
                    
            // ==================================== LINHA CORPO DA TABELA ===========================================-->
            <tr>
                <td>@item.Nome</td>            
                <td>@item.Cpf</td>        
                <td>@DataNascimentoString</td>
                <td>
                    <a href="@Url.Action("Edit","Cliente", new { id = @item.Id } )" style="margin-right: 2em;" >
                        <i class="fa fa-edit fa-lg" style="color: ##1D9C73;"></i>
                    </a> 
                    
                    <a href="@Url.Action("Delete","Cliente", new { id = @item.Id } )" >
                        <i class="fa fa-trash fa-lg" style="color: #AD3E48;"></i>
                    </a>                 
                </td>
            </tr>
        }
    
    </tbody>
</table>




<!-- ////////////////// Controle de paginação ///////////////////////-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";   
    var prev = Model.PageIndex - 1;
    var next = Model.PageIndex + 1;        
}

<br />
<div style="margin-left: 2em;">
    Página @Model.PageIndex de @Model.TotalPages
</div>

<div class="row">
    <div class="col col-4">
        <a href="#" onclick="PaginacaoCliente(@prev)" class="btn btn-light @prevDisabled">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </a>
        <a href="#" onclick="PaginacaoCliente(@next)" class="btn btn-light @nextDisabled">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
    
    <div class="col">
        <a href="#" onclick="PaginacaoCliente(1)" class="btn btn-light @prevDisabled">
            Primeira Página
        </a>
        <a href="#" onclick="PaginacaoCliente(@Model.TotalPages)" class="btn btn-light @nextDisabled">
            Última Página
        </a>
    </div>
</div>



