@model IEnumerable<Projeto.Models.Usuario>



<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Menu/Index  -->
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Email</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            // ==================================== LINHA CORPO DA TABELA ===========================================-->
            <tr>
                <td>@item.Email</td>
                <td>@item.Status </td>
                <td>
                    <a href="@Url.Action("Edit","Usuario", new { id = @item.Id } )" style="margin-right: 2em;">
                        <i class="fa fa-edit fa-lg" style="color: ##1D9C73;"></i>
                    </a>

                    <a href="@Url.Action("Delete","Usuario", new { id = @item.Id } )">
                        <i class="fa fa-trash fa-lg" style="color: #AD3E48;"></i>
                    </a>

                    <a href="#" style="margin-left: 2em;" onclick="Perfis('@item.Id', 'btn-perfis-usuario')"
                    style="color:green">
                        Perfil
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
